extends /layouts/_default

block content
  a(href='https://github.com/DKunin/grunt-vs-gulp-slides-demo', style='position: absolute; top: 0; right: 0; border: 0; z-index: 1;')
    img(style='', src='https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png')
  .logo
  .timer
  .reveal
    .slides
      section
        h1 Grunt vs Gulp
        h3 системы сборок и скаффолдинга - кто сильнее
        // NOTE:План
      section
        h2 Кто я такой?
        ul
          li Дмитрий Кунин
          li ведущий Front end разработчик AT-Consulting
      section
        h2 Пара вопросов
        ul
          li.fragment Кто пользуются системами сборок?
          li.fragment Кто ползуются Grunt?
          li.fragment Кто ползуются Gulp?
          li.fragment Bruch, make,  etc...?
      section
        h2 Для чего используются системы автоматизации?
        ul
          li cкаффолдинг
          li concat
          li lint
          li минификация
          li unit tests
          li server
          li генератор компонентов
          li генерация документации
          li watch
      section
        h2 Grunt краткая вводная
        ul
          li Plugins count: 2,818 (gruntjs.com) 
          li Configuration over code
          li Огромное коммюнити
      section
        h2 Gulp краткая вводная
        ul
          li Plugins count: 690 (gulpjs.com ~30 plugins a week) 
          li Code over configuration
          li Stream Based
          li Работает с vynil объектом
          li Очень простой API     
      section
        h3 Читаемость/удобство
        pre.language-javascript
          code.javascript.language-javascript.
            module.exports = function(grunt) {
              grunt.loadNpmTasks('grunt-contrib-stylus');
              grunt.initConfig({
                stylus: {
                  src: ["styles.styl"],
                  dest: "styles.css"
                }
              })
              grunt.registerTask('default', ['stylus']);  
            });
        pre.language-javascript
          code.javascript.language-javascript.
            var gulp = require('gulp'),
                stylus = require('gulp-stylus');

            gulp.task('styles', function() {
              return gulp.src('src/styles/styles.styl')
                .pipe(stylus())
                .pipe(gulp.dest('public/styles'));
            });
            gulp.task('default', ['stylus']);
      section
        h2 Скорость
        div.fragment Пример
      section
        h2 Оптимизация
      section
        h2 Снова вопрос
        div.fragment Кто пользуется Grunt.js?
        div.fragment Готовы ли Вы/хотите ли Вы переключиться?
      section
        h2 Стоит ли переключаться?
        div.fragment На мой взгдяд нет - потому что:
        ul
          li.fragment Неохота переписывать существующие проекты          
          li.fragment Следующие релизы = работа с потоками          
          li.fragment Огромное коммьюнити          
        div.fragment На мой взгдяд да - потому что:
        ul
          li.fragment Потрясающая скорость доступная уже сейчас
          li.fragment Личная привлекательность code over config          
          li.fragment Возможность использовать любые node.js модули          

      section
        h2 Спасибо!
        h3 Вопросы?
        hr
        h4 Дмитрий Кунин
        h4 dkun.in
        h4 bit.ly/gruntvsgulp



//- Кто хотел бы сменить систему?
 